.flexbox-container{
    border: 1px solid black;
    text-align: center;
    margin: auto;
    width: 75%;
}

.container-1{
    display: flex;
    -ms-flex-align: center;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}
.container-1 div {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
}